@{
    ViewBag.Title = "Index";
}

<div id="resume">
    <h2>Alem's Resume</h2>
    <img style="width:600px; opacity:0.75; margin:auto; border:2px; border-color:#11bd2d; box-shadow:rgba(0,0,0,.20) 1px 1px ,1px .5px;
" src="~/Content/themes/base/images/Resume.jpg" />
</div>
