@{
    ViewBag.Title = "Index";
}

<h2>About Me</h2>
<div class="container">
    <p>A flag is a piece of fabric (most often rectangular or quadrilateral) 
        with a distinctive design that is used as a symbol, as a signaling 
        device, or as decoration. The term flag is also used to refer to the 
        graphic design employed by a flag, or to its depiction in another medium.
        The first flags were used to assist military co-ordination on battlefields, 
        and flags have since evolved into a general tool for rudimentary signalling 
        and identification, especially in environments where communication is similarly 
        challenging (such as the maritime environment where semaphore is used). 
        
        National flags are potent patriotic symbols with varied wide-ranging interpretations, 
        often including strong military associations due to their original and ongoing military 
        uses. Flags are also used in messaging, advertising, or for other decorative purposes. 
        The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or 
        banner.

        Due to the use of flags by military units, "flag" is also used as the name of some military 
        units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a 
        flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.

    </p>
</div>