@{
    ViewBag.Title = "Index";
}

<div class="container">
    
    <h2 class="h2about"><strong><em>A</em>bout Me</strong></h2><br />

    <p><em style="color:#11bd2d; font-size:28px; font-weight:bold;">A </em>
        I am an easy going, avid reader, nature loving, and compassionate citizen 
        of the world. I was brought up in Ethiopia, Sudan and the US, so I grew up 
        multilingual. In fact, I spoke four different languages growing up, namely 
        Tigrinya, Amharic, Arabic, and English. Sadly, I no longer speak Arabic; I do, 
        owever speak the other three fluently. 
        
        <p>I have lived through a famine, a civil war, and spent a portion of my life 
        as a refugee. These challenges have shaped me into who I am today: A problem 
        solver with a strong belief that everything 
        has a solution and can be overcome; team-oriented with demonstrated leadership 
        skills, and an ability to effectively manage pressure situations with multiple 
        responsibilities. I have a Bachelor of Science degree in Information Systems 
        from the University of Colorado Denver. I also attended the Colorado Film School
        for two years, and have some experience in film-making and graphic design. I love 
        technology, story telling, reading, playing sports, and volunteering.
    </p>
</div>