@{
    ViewBag.Title = "Index";
}
<div class="aboutpage">
    <div class="pagePhoto">

        <div style="width: 960px; padding-top: 5px; height: 200px; border: thin;">
            <img src="~/Content/themes/base/images/summer-forest.jpg" style="width: 960px; float: left; box-shadow: inset; border:1px solid #aaa;"/>      
             <blockquote id="qod-quote">
                <p class="qod-text">
                 </p>
                 <p class="qod-author">
                 </p>
                </blockquote>
        </div>
    </div>
    <div class="floatfix">
         
    </div>
    <div class="mainbody" style="width: 960px; margin: auto; margin-top: 25px;">
        <div style="width: 275px; float: left; margin-right: 15px; padding-left: 15px; padding-right: 15px;">
            <div><h1 class="mainbodyID">Who is Alem?</h1></div>
            <div class="paragraph">
                <p>I am an easy going, avid reader, nature loving, and compassionate citizen of the world. 
                    I was brought up in Ethiopia, Sudan and the US, so I grew up multilingual. In fact, I 
                    spoke four different languages growing up, namely Tigrinya, Amharic, Arabic, and English. 
                    Sadly I have forgotten Arabic over the years, however, I speak the other three fluently. 
                    I love technology, film-making, reading, sports, and volunteering.</p>
            </div>
        </div>
        <div style="width: 275px; float: left; margin-right: 15px; padding-left: 15px; padding-right: 15px;">
            <div><h1 class="mainbodyID">Why Coding</h1> </div>
            <div class="paragraph">
                <p> I am deeply passionate about technology and its enormous capacity to empower and uplift 
                    ordinary people and bring the world closer, which, is why I can't imagine doing anything 
                    else, but be part of today's digital revolution.</p>
                 
            </div>
       </div>
    <div style="width: 275px; float: left; padding-left: 15px; padding-right: 15px;">
        <div><h1 class="mainbodyID">Short term goal</h1></div>
        <div class="paragraph">   
            <p>
               Beocme the best Full Stack .NET Developer I can be.
            </p>
            <ul>
                <li>.NET</li>
                <li>MVC</li>
                <li>JavaScript/HTML/CSS</li>
                <li>ASP>NET</li>
                <li>C#</li>
            </ul>
        </div>
    </div>
</div>
    <div class="floatfix">
        
    </div>
</div>
