@{
    ViewBag.Title = "Index";
}

<div class="blog">
        <p>Final project for Intro to Film course at the Colorado Film School. Produce and edit a short on 16mm film.</p>

    <iframe src="//player.vimeo.com/video/3103243" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="blogMain">
       <p>
        <a href="http://vimeo.com/3103243">3 out of 5</a>
        from <a href="http://vimeo.com/josephdo">Joseph Do</a>
        on <a href="https://vimeo.com">Vimeo</a>
    

     <p>Two men play games over a winning lottery ticket. Production Details: December 2008.</p>
    <ul class="blogList">
        <li>James Russell - Larry</li>
        <li>Bram Schmitz - Stan</li>
        <li>Scott VanOrdstrand - Executive Producer</li>
        <li>Brandon McDuffey - Producer</li>
        <li>Jason Anderson - Production Manager</li>
        <li>Balogh Alishouse - Writer</li>
        <li>Nathan Youmell - Original Story</li>
        <li>Joseph Do - Director</li>
        <li>Michelle Guasto - Editor & Score</li>
        <li>Mackenzie Collins - Digital Colorist</li>
        <li>Corey Blair - Director of Photography</li>
        <li>Mackenzie Collins - Camera Operator</li>
        <li>Alemshewit Weldearegay - 1st Assistant Camera</li>
        <li>Christine Nylund - 2nd Assistant Camera</li>
        <li>Brett Jones - Sound</li>
        <li>David Anderson - Sound</li>
        <li>Jared Gooch - Sound</li>
        <li>Lauren Waldner - Make-Up</li>
    </ul>
</div>
