@{
    ViewBag.Title = "Index";
}

<div class="workContainer">

        <div class="imagecontainer">
            <a href="https://github.com/Alemshewit/DeckOfCards/raw/master/DeckofCards/DeckofCards/bin/Debug/DeckofCards.exe"><img class="image" id="one" style="width:200px; border-radius:100px;" src="~/Content/themes/base/images/battleship.png" />
</a>
            <div class="desc">Deck Of Cards</div>
        </div>
        <div class="imagecontainer">
            <a href="https://github.com/Alemshewit/DragonCombatSimulator/raw/master/DragonCombatSimulator/DragonCombatSimulator/bin/Debug/DragonCombatSimulator.exe"><img class="image" id="two" style="width:200px; border-radius:100px;" src="~/Content/themes/base/images/dragon.jpg.png" />
</a>
            <div class="desc">Dragon Simulator</div>
        </div>

        <div class="imagecontainer">
           <a href="https://github.com/Alemshewit/Prof_HangMan/raw/master/Hang%20Man/Hang%20Man/bin/Debug/Hang%20Man.exe"><img class="image" id="three" style="width:200px; border-radius:100px;" src="~/Content/themes/base/images/hangman.jpg"/></a>
            <div class="desc">Hang Man</div>
        </div>
        <div class="imagecontainer">
            <a href="https://github.com/Alemshewit/PortTriviaGame/raw/master/TriviaGame/bin/Debug/TriviaGame.exe"><img class="image" id="four" style="width:200px; border-radius:100px;" src="~/Content/themes/base/images/trivia.png"/></a>
            <div class="desc">Trivia Game</div>
        </div>


</div>
