@{
    ViewBag.Title = "Index";
}

<div class="workContainer">

    <div class="imagecontainer">
        <img class="image" src="http://tinyurl.com/qeemlqf"/>
        <div class="desc">Work Sample 1</div>
    </div>
    <div class="imagecontainer">
        <img class="image" src="http://tinyurl.com/qeemlqf" />
        <div class="desc">Work Sample 2</div>
    </div>
    <div class="imagecontainer">
        <img class="image" id="three" src="http://tinyurl.com/qeemlqf"/>
        <div class="desc">Work Sample 3</div>
    </div>
    <div class="imagecontainer">
        <img class="image"  id="four" src="http://tinyurl.com/qeemlqf"/>
        <div class="desc">Work Sample 4</div>
    </div>

</div>